body {
    font-family: sans-serif;
}

#new-convo-screen {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

#new-convo-modal {
    background-color: white;
    border-radius: 20px;
    padding: 40px;

    display: flex; 
    flex-direction: column;

    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.new-convo-input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
}

#new-recipient {
    border: none;
    background-color: rgb(220, 220, 220);
    position: relative;
    display: inline-block;
}

#new-convo-submit {
    background-color: #aa0e0e;
    color: white;
    border-radius: 5px;
}

#select-user-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    padding: 0px;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.2);
    /* max-height: 300px;
    overflow-y: auto; */
}

#new-recipient:focus + #select-user-dropdown {
    display: block;
}

.user-option {
    margin: 0px;
    padding: 15px;
    cursor: default;
}

.user-option:hover {
    background-color: rgb(240, 240, 240);
}

#profile-picture {
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 2;
}

#profile-options {
    background-color: rgb(240, 240, 240);
    margin: 0px;
    border-radius: 10px;

    position: absolute;
    right: 0px;
    width: 150px;
}

#profile-options-list {
    list-style-type: none;
    padding-left: 10px;
    margin-right: 10px;
}

.profile-option {
    border-radius: 10px;
    padding: 5px;
}

.profile-option-link:hover {
    background-color: rgb(230, 230, 230);
}

.description-flag {
    display: none;
    flex-direction: column;
    align-items: center;
}

.description-flag-content {
    background-color: black;
    color: white;
    font-size: small;
    border-radius: 10px;
    padding: 10px;
}

.up-pointer {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

#new-chat-flag {
    position: absolute;
    left: 280px;
    top: 50px;
    margin-top: 5px;
}

#new-chat-btn:hover #new-chat-flag {
    display: flex;
}

.hyperlink {
    text-decoration: none;
    color: black;
}

#conversations {
    position: absolute;
    left: 0px;
    top: 0px;

    background-color: rgb(240, 240, 240);

    width: 475px;
    height: 100%;
}

#convo-list-header {
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

#convo-list {
    overflow-y: auto;
}

.conversation {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
}

.conversation:hover {
    background-color: rgb(230, 230, 230);
}

#chat {
    position: absolute;
    top: 0px;
    left: 350px;
    height: 90%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.my-bubble {
    background-color: #aa0e0e;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;

    /* position: relative;
    left: 200px; */
    align-self: flex-end;
}

.other-bubble {
    background-color: rgb(220, 220, 220);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;

    /* position: relative;
    right: 200px; */
    align-self: flex-start;
}

#chat-form {
    display: none;
    position: fixed;
    bottom: 60px;
}

#entry {
    position: absolute;
    width: 100%;
    resize: none;

    border-radius: 20px;
    border: none;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(240, 240, 240);
}

#entry:focus {
    outline: none;
}

.icon-button {
    border-radius: 5px;
    padding: 5px;
}

.icon-button:hover {
    background-color: rgb(230, 230, 230);
}

#send-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px !important;
}

#close-new-convo-modal {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0px !important;
}

#close-new-convo-modal:hover {
    background-color: rgb(240, 240, 240);
}