<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link rel="icon" type="image/x-icon" href="static/images/logo.png">
    </head>
    <body onresize="resize()">
        <div id="profile-picture">
            <div class="icon-button" onclick="showProfileOptions()">
                <img src="/static/images/profile.png" width="30px">
            </div>
            <div id="profile-options" style="display: none;">
                <ul id="profile-options-list">
                    <a class="hyperlink" href="#settings">
                        <li class="profile-option">
                            <img src="/static/images/settings.png" width="15px">
                            <span>Settings</span>
                        </li>
                    </a>
                    <a class="hyperlink" href="/logout">
                        <li class="profile-option">
                            <span>Logout</span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <div id="conversations">
            <div id="convo-list-header">
                <div class="icon-button"><img src="/static/images/close-sidebar.png" width="30px"></div>
                <div class="icon-button"><img src="/static/images/plus-icon.svg" width="30px"></div>
            </div>
            <div id="convo-list">
            {{range .Conversations}}
                <a class="hyperlink" href="#{{.Id}}">
                    <div id="{{.Id}}" class="conversation" onclick="openConversation('{{.Id}}')">
                        <p>{{.Receiver}}</p>
                    </div>
                </a>
            {{end}}
            </div>
        </div>
        <div id="chat">
            <div id="chat-messages"></div>
            <div id="chat-form">
                <textarea id="entry" rows="1" placeholder="Enter a Message"></textarea>
                <img class="icon-button" id="send-icon" src="/static/images/send.png" onclick="sendMessage()">
            </div>
        </div>
        <script src="/static/js/index.js"></script>
    </body>
</html>
