<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link rel="icon" type="image/x-icon" href="static/images/logo.png">
    </head>
    <body onresize="resize()">
        <div id="profile-picture">
            <div class="icon-button"><img src="/static/images/profile.png" width="30px"></div>
        </div>
        <div id="conversations">
            <div id="convo-list-header">
                <div class="icon-button"><img src="/static/images/close-sidebar.png" width="30px"></div>
                <div class="icon-button"><img src="/static/images/plus-icon.svg" width="30px"></div>
            </div>
            <hr id="convo-list-divider">
            {{range .Conversations}}
                <div id="{{.Id}}" class="conversation" onclick="openConversation('{{.Id}}')">
                    <p>{{.Receiver}}</p>
                </div>
            {{end}}
        </div>
        <div id="chat">
            <div id="chat-messages"></div>
            <div id="chat-form">
                <textarea id="entry" placeholder="Enter a Message"></textarea>
                <div class="icon-button"><img id="send-icon" src="/static/images/send.png" onclick="sendMessage()"></div>
            </div>
        </div>
        <script src="/static/js/index.js"></script>
    </body>
</html>
