<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    </head>
    <body onresize="resize()">
        <nav class="navbar">
            <ul class="nav-list">
                <li id="profile-pic" class="nav-item"><img src="/static/images/profile.png" width="30px"></li>
                <li id="settings" class="nav-item"><img src="/static/images/settings.png" width="30px"></li>
            </ul>
        </nav>
        <div id="conversations">
            {{range .Conversations}}
                <div id="{{.Id}}" class="conversation" onclick="openConversation('{{.Id}}')">
                    <p>{{.Receiver}}</p>
                </div>
            {{end}}
        </div>
        <div id="chat">
            <div id="chat-messages"></div>
            <div id="chat-form">
                <textarea id="entry" placeholder="Enter a Message"></textarea>
                <img id="send-icon" src="/static/images/send.png" onclick="sendMessage()">
            </div>
        </div>
        <script src="/static/js/index.js"></script>
    </body>
</html>
