<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <link rel="icon" type="image/x-icon" href="static/images/logo.png">
    </head>
    <body>
        <div id="login-portal">
            <h1 style="font-family: sans-serif; color: #aa0e0e;">Sign In</h1>
            <div id="invalid-credentials-alert" style="display: {{.Display}};">
                <p>{{.Issue}}</p>
            </div>
            <form id="login-form" action="/login" method="POST" onsubmit="validateForm()">
                <div id="login-input-container">
                    <div class="input-wrapper">
                        <input class="login-input text-input" type="email" placeholder="Email" name="email" oninput="validateEmail()">
                        <strong><p class="invalid-input-alert" id="invalid-email"></p></strong>
                    </div>
                    <div class="input-wrapper">
                        <input class="login-input text-input" type="password" placeholder="Password" name="password">
                    </div>
                    <div id="login-links">
                        <a class="text login-link" href="#"><strong>Forgot Password</strong></a>
                        <a class="text login-link" href="/signup"><strong>Signup</strong></a>
                    </div>
                    <input class="login-input button" type="submit" value="Login">
                </div>
            </form>
        </div>
    </body>
    <script src="/static/js/login.js"></script>
</html>