<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
        <link rel="icon" type="image/x-icon" href="static/images/logo.png">
    </head>
    <body>
        <div id="login-portal">
            <h1 style="font-family: sans-serif; color: #aa0e0e;">Sign Up</h1>
            <form id="login-form" action="/signup" method="POST" onsubmit="validateForm()">
                <div id="invalid-credentials-alert" style="display: {{.Display}};">
                    <p>{{.Issue}}</p>
                </div>
                <div id="login-input-container">
                    <div class="input-wrapper">
                        <input class="login-input text-input" type="text" placeholder="First Name" name="firstName">
                        <strong><p class="invalid-input-alert" id="invalid-first-name"></p></strong>
                    </div>
                    <div class="input-wrapper">
                        <input class="login-input text-input" type="text" placeholder="Last Name" name="lastName">
                        <strong><p class="invalid-input-alert" id="invalid-last-name"></p></strong>
                    </div>
                    <div class="input-wrapper">
                        <input class="login-input text-input" type="email" placeholder="Email" name="email" oninput="validateEmail()">
                        <strong><p class="invalid-input-alert" id="invalid-email"></p></strong>
                    </div>
                    <div class="input-wrapper">
                        <input class="login-input text-input" type="password" placeholder="Password" name="password">
                        <strong><p class="invalid-input-alert" id="invalid-pw"></p></strong>
                    </div>
                    <div class="input-wrapper">
                        <input class="login-input text-input" type="password" placeholder="Confirm Password" name="confirmPassword" oninput="comparePasswords()">
                        <strong><p class="invalid-input-alert" id="pw-discrepency"></p></strong>
                    </div>
                    <div id="login-links" style="margin-top: 15px; margin-bottom: 5px;">
                        <a class="text login-link" href="/login"><strong>Login Here</strong></a>
                    </div>
                    <input class="login-input button" type="submit" value="Sign Up" name="submitButton">
                </div>
            </form>
        </div>
    </body>
    <script src="/static/js/signup.js"></script>
</html>